.DS_Store
node_modules
/build
/.svelte-kit
/package
src/routes/test/*
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json
/.env
.temp
ios
ios/*
src/debug/*
visit-log.csv
pnpm-lock.yaml

android/.gradle/
android/build
android/local.properties
android/.idea
android/.idea/*
android/*.log

android/app/build
android/captures
android/.externalNativeBuild/
android/.cxx/
android/*.apk
android/output.json

pnpm-lock.yaml

.vscode
.vscode/*

# IntelliJ
android/*.iml
android/.idea/
android/misc.xml
android/deploymentTargetDropDown.xml
android/render.experimental.xml

# Keystore files
android/*.jks
android/*.keystore

# Google Services (e.g. APIs or Firebase)
android/google-services.json

# Android Profiling
android/*.hprof